  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* base styles */
body {
  background: #eee;
  font-family: 'Roboto';
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  background: #36cca2;
  padding: 10px;
  border-radius: 10px;
}
form {
  max-width: 500px;
}
input, textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family: 'Roboto';
}
textarea {
  min-height:200px;
}
.blogs {
  margin-top: 20px;
}
.blogs h2 {
  margin-top: 0;
}
.posts {
  background: #e1e2e2;
  border-radius: 20px;
  padding: 18px 20px;
  margin-bottom: 20px;
}
.posts div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.posts div a {
  text-decoration: none;
  color: white;
  background: #36cca2;
  border-radius: 5px;
  padding: 3px 13px;
  font-size: 14px;
}